html,
body {
	height: 100%;
	margin: 0;
}
#root {
	text-align: center;
	height: 100%;
	/* margin: 0; */
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 1rem;
}
.button {
	color: white;
	background-color: #16b323;
	font-size: 18px;
	min-width: 120px;
	padding: 10px 20px;
	border-radius: 8px;
	transition: all 0.3s;
	cursor: pointer;
	font-weight: 600;
}
.button:active {
	transform: scale(0.97);
}
button:disabled:active {
	transform: scale(1);
}
.button:hover {
	background-color: #0c7a16;
}
.button--cancel {
	background-color: #616161;
}
.button--cancel:hover {
	background-color: #8b8b8b;
}
.button--blue {
	background-color: rgb(20, 47, 199);
}
.button--blue:hover {
	background-color: rgb(11, 11, 133);
}
.button--edit {
	background-color: #15c6e6;
}
.button--edit:hover {
	background-color: #11a4be;
}
.button--remove {
	background-color: #eb0e0e;
}
.button--remove:hover {
	background-color: #a81313;
}
.label {
	display: flex;
	flex-direction: column;
	text-align: start;
	gap: 4px;
	width: 100%;
	font-weight: 600;
}
.input {
	padding: 5px 10px;
	background-color: #2b2b2b;
	border-radius: 8px;
	color: white;
	font-weight: 400;
}
.input::placeholder {
	color: rgb(155, 155, 155);
}
button:disabled {
	background-color: #8a8a8a;
	color: #dadada;
	cursor: default;
	@media (any-hover: hover) {
		&:hover {
			background-color: #8a8a8a;
		}
	}
}
.input:is(:active, :focus) {
	outline: 2px solid green;
	background-color: #3f3f3f;
}
.box-shadow {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
